.chatFieldStyles{
    width: 400px;
    height: 200px;
  
    background-color: aliceblue;
    border: 3px solid;
    border-color: black;
    border-radius: 25px;
    margin-top: 10px;
    
    overflow-y: scroll;
    padding: 10px;
  }
 

  .formStyles{
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-top:10px;
  }