html{
  background-color: cornflowerblue;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.boardGrid{
  display:grid;
  grid-template-rows: repeat(8,1fr);
  grid-template-columns: repeat(8,1fr);
  row-gap:0cm;
  column-gap:0cm;

}

.boardContainer{
  position: relative;
  margin-top:10px;
  margin-bottom:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.highlight{
  background-color: red;
}

.illegalSelect{
  background-color: black;
}
