html{
  background-color: cornflowerblue;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p{
  color: white;
  font-size: 30px;
}

.topbar{
  background-color: lightskyblue; 
  font-weight: bold;
  border-radius: 20px; 
  width: auto;
  height: auto; 
  font-size: 18px; 
  position:center;
  text-align: center;
  color: whitesmoke;
  padding: 1px;
}

.boardGrid{
  display:grid;
  grid-template-rows: repeat(8,1fr);
  grid-template-columns: repeat(8,1fr);
  row-gap:0cm;
  column-gap:0cm;

}

.boardContainer{
  margin-top:10px;
  margin-left:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftContainer{
  float:left;
  background-color: lightcoral;
  text-align: center;
  align-content:center;
  border-radius: 25px;
  width: 400px;
  height: 800px;
}

.rightContainer{
  float:right;
  background-color: blue;
  text-align: center;
  align-content:center;
  border-radius: 25px;
  width: 400px;
  height:800px;
}

.highlight{
  background-color: red;
}

.illegalSelect{
  background-color: black;
}